/* Center all content on the page */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Container for the calculator */
.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

/* Title styling */
h1 {
  line-height: 1.2;
  text-align: center;
}

/* Section Names */
h2 {
  margin-bottom: 10px;
}

/* Left alignment for sections after the slide bar */
form, #riskOutput, #plotDiv {
  text-align: left;
}

/* Radio button groups aligned in 3 columns */
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  /* Add space between radio buttons */
  justify-content: left;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

/* Model Toggle Switch Styles */
.model-toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px; /* Add space between labels and switch */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}